

a{
   color: #fff;
   text-decoration: none;

}


.heading{
   text-align: center;
   margin: 3rem;
}
.btn-google{
  background-color: #2E3e00;
  box-shadow: 5px 10px 8px #a1a983;
  width: 50%;
  text-align: center;
}
.sign-in{
   color: #2E3e00;
   opacity: 0.5;
}
.google{
    margin-right: 1rem;
}
.form-outline{
   width: 50%;
  margin-left: 25%;
  padding: 2rem;
}
label{
   margin-right: 100%;
}

.or{
   text-align: center;
}
.form-control {
   background-color: #d9d9d9;
   border: 1px solid #727070;
   border-top: none;
   border-right: none;
   border-radius: 0;

}
.form-control-2{
   background-color: #d9d9d9;
   border: 1px solid #727070;
   border-bottom: none;
   border-right: none;
   border-left: none;
   border-radius: 0;
}
.form-control-3{
   background-color: #d9d9d9;
   border: 1px solid #727070;
   border-top: none;
   border-right: none;
   border-left: none;
   border-radius: 0;
}